input{
    margin-bottom: 50px;
}

.box{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 1px solid #000;
    position: relative;
}
.box.active{
    background-color: #000;
    color:#fff;
}
.box span{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}